
<h1 style="font-family:Comic sans MS;font-size:420%;"><center><strong>macin.tech</strong></center></h1>

<center>
<table border="10">
<tr><td><img src="vape_me.jpg"></tr>
</tbody></table>
</center>

<p><center style="font-family:Comic sans MS;font-size:200%">Add some <i>aesthetic</i> to your music!</center></p>
<p><center style="font-family:Comic sans MS;">Give us a band name, and we'll take one of their albums and make it vaporwave. Or you can just generate a random vaporwave song.</center></p>

<p><center style="font-family:Comic sans MS;">Just make your selection below.</center></p>
<p><center style="font-family:Comic sans MS;font-size:200%;"> <strong>It's your move.</strong></center></p>
<p>&nbsp;</p>

<form action="/">
  <center style="font-family:Comic sans MS;">Enter a band name:
  <input type="text" name="input">
  <input type="submit" value="MAC MY S*** UP!!"><br></center>
</form>

<form action="????">
  <center>
    <input type="submit" value="Make a random vaporwave song..." style="height:50px;width:250px"><br>
  </center>
</form>
</body>
